<!DOCTYPE html>
<html>
<head>
	<title>MochoHead</title>
</head>
<body>
	<div class="container">
		<form method="post" action="/ingresarLetra">
			<div>
				<h1>Bienvenido a MochoHead</h1>
			</div>
			<div>
				<h2>Espacios de la palabra a adivinar:<br/><%= session['palabras'][0] %>
				</h2>
			</div>
			<div>
				<input type="text" name="letraProbar" maxlength="1" />
				<input type="submit" value="Probar" />
			</div>	
			<div>
				<label>Vidas: <%= session['vidas'] %></label>
				<label>letras buscadas: <%= session['letrasBuscadas'] %></label>
			</div>
		</form>
	</div>
</body>
</html>