<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" action="/ingresarLetra">
		<input type="text" name="letraProbar" value="letraProbar" />
		<input type="submit" value="Probar" />
	</form>
</body>
</html>