<!DOCTYPE html>
<html>
<head>
	<title>MochoHead</title>
</head>
<body>
<form method="post" action="/ingresarLetra">
		<h1>Bienvenido a MochoHead</h1>
		<h2>Espacios de la palabra a adivinar:<br/><%= session['palabras'][0] %>
		</h2>	
		<input type="text" name="letraProbar" value="letraProbar" />
		<input type="submit" value="Probar" />
	</form>
</body>
</html>