<!DOCTYPE html>
<html>
<head>
	<title>MochoHead</title>
</head>
<body>
	<form method="post" action="/ingresarLetra">
		<div class="container">
			<h1>Bienvenido a MochoHead</h1>
			<h2>Espacios de la palabra a adivinar:<br/><%= session['palabras'][0] %>
			</h2>	
			<input type="text" name="letraProbar" maxlength="1" />
			<input type="submit" value="Probar" />
			<div>
				<label>Vidas: <%= session['vidas'] %></label>
				<label>letras buscadas: <%= session['letrasBuscadas'] %></label>
			</div>
		</div>
	</form>
</body>
</html>